@import 'pallete';

.header {

  &__form {

    &__input {
      position: relative;
      width: 400px;

      &::before, &::after {
        content: "";
        display: block;
        position: absolute;

        height: 8px;
        background-color: $default_black-2;

        bottom: 0;
      }

      & input:focus, &:focus-within::after, &:focus-within::before {

        box-shadow: none;
        border-color: $default_green !important;

        &::after {
          border-color: $default_green;
        }
      }

      &::before {

        right: 86px;
        width: 30px;
        transform: skewX(-45deg);

        border-top: 1px solid #444;
        border-left: 1px solid #444;
      }

      & input {

        width: 100%;
        padding: 15px 45px 15px 15px;
        outline: 0;

        box-sizing: border-box !important;
        border: 1px solid #444;
        border-radius: 7px;

        line-height: 20px;
        color: white;
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
        font-weight: 100;
        background-color: $default_black-2;
        font-size: 15px;
      }

      &::after {
        content: "";
        display: block;
        position: absolute;

        right: 50px;
        width: 50px;

        transform: skewX(45deg);

        border-top: 1px solid $default_black-3;
        border-right: 1px solid $default_black-3;
      }
    }

  }

  &__ask-button {
    padding: 5px 15px;

    border: 1px solid $default_black-3;
    border-radius: 5px;

    font-size: 20px;
    font-family: "Star Wars";

    transition: 0.3s;

    &:hover {
      border-color: $default_green;
    }

  }

  &__title {
    font-size: 25px;
    font-family: "Star Wars";
    text-align: center;
    margin: 0;

    & span {
      display: block;
      line-height: 90%;
    }
  }

  &__user-information {

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 20px;

    &__avatar {
      width: 50px;
      padding: 3px;

      border: 2px solid #4dd185;
      border-radius: 50%;
    }

    &__link {
      padding: 10px 10px 10px 0;
      position: relative;
      margin-left: 10px;
      min-width: 140px;

      font-weight: 100;
      text-align: start;

      &::after {
        content: "";
        display: block;
        position: absolute;

        left: -15px;
        width: 0%;
        bottom: 7px;
        height: 1px;

        background-color: #4dd185;

        transition: width 0.3s ease-out;
      }

      &:hover::after,
      &:focus::after {
        cursor: pointer;
        width: 100%;
      }

    }
  }

}
