{% load static %}

<div class="question-item">
    <div class="question-item__header">
        <a href="#" class="question-item__title">How to create life?</a>
        <div class="question-item__author">
            <img class="question-item__author__avatar" src="{% static 'core/pics/default/Avatar.png' %}" alt="avatar" />
            <div class="question-item__author__nickname">Sarafa2n</div>
        </div>
    </div>
    <div class="question-item__tags">
        <span>Tags:</span>
        <a href="#" class="base_link_v1">Django</a>
    </div>
    <div class="question-item__answer-count">
        <span>Answers:</span> 0
    </div>
    <a href="#" class="js-vote question-item__votes__like"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
    <span class="question-item__votes__count js-rating-1">0</span>
    <a href="#" class="js-vote question-item__votes__dislike"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a>
    <div class="question-item__content">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </div>
    <div class="question-item__date">24.03.20</div>
</div>