{% extends 'core/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block styling %}
    <link rel="stylesheet" href="{% static 'pages/css/question-item.css' %}">
{% endblock %}

{% block page-pad-left %}
    <div class="page-pad__left__title">
    {% if request.path == "/" %}
        <a href="{% url 'pages:index' %}">new questions</a>
        <a href="{% url 'pages:hot' %}">hot questions</a>
    {% elif request.path == "/hot/" %}
        <a href="{% url 'pages:hot' %}">hot questions</a>
        <a href="{% url 'pages:index' %}">new questions</a>
    {% else  %}
        {% for tag in tag_list %}
            {% if tag.title in request.path %}
                <div class="page-pad__left__title__div">Tag: {{ tag.title }} </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    </div>

    <div class="page-pad__left__content">
        {% for question in page_obj%}
            {% include 'pages/shards/question-item.html' %}
        {% endfor %}
    </div>

    {% if page_obj.paginator.num_pages > 1 %}
        <div class="block-page-pagination">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="pagination-item"><</a>
            {% endif  %}
                <a class="pagination-item">{{ page_obj.number }} из {{ page_obj.paginator.num_pages }} страниц</a>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="pagination-item">></a>
            {% endif %}
        </div>
    {% endif %}

{% endblock %}
