{% load static %}

<a href="{% url 'pages:index' %}" class="header__title base_link_v1"><span>ask</span><span>sarafa2n</span></a>
<form class="header__form">
    <div class="header__form__input">
        <input type="text" name="search" placeholder="Search..." aria-label="Search">
    </div>
</form>
{% if user.is_authenticated %}
    <a href="{% url 'pages:ask' %}" class="header__ask-button">ask!</a>
    <div class="header__user-information">
        <img class="header__user-information__avatar" src="{% static 'core/pics/default/Avatar.png' %}" alt="Avatar">
        <a href="{% url 'pages:settings' %}" class="header__user-information__link">Sarafa2n</a>
        <a href="{% url 'core:logout' %}" class="base_link_v2">Logout</a>
    </div>
{% else %}
    <div class="header__user-information">
    <a href="{% url 'pages:login' %}" class="base_link_v1">Sing in</a>
    <a href="{% url 'pages:singup' %}" class="base_link_v2">Sing up</a>
    </div>
{% endif %}
